---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { siteMetadata } from '../../consts';
import { getCollection } from 'astro:content';
import PostEntryPreview from '../../components/PostEntryPreview.astro';

const talks = (await getCollection('videos')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={`All talks | ${siteMetadata.title}`} description="These are some of the talks that I have given." />
		<style>
			ul {
				list-style-type: none;
			}
		</style>
	</head>
	<body>
		<Header />
		<main class="container relative layer--1">
			<section>
				<h6 class="color--overline">All talks</h6>
				<ul class="my--zero p--zero">
					{
						talks.map((post) => (
							<li>
								<PostEntryPreview {...post.data} href={`/talks/${post.slug}`} />
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
