.color--paragraph {
  color: var(--paragraph);
  fill: var(--paragraph);
}

.color--link {
  color: var(--link);
  fill: var(--link);
}

.color--header {
  color: var(--header);
  fill: var(--header);
}

.color--background {
  color: var(--background);
  fill: var(--background);
}

.color--backgroundSecondary {
  color: var(--background-secondary);
  fill: var(--background-secondary);
}

.color--overline {
  color: var(--overline);
  fill: var(--overline);
}

.bg--paragraph {
  background-color: var(--paragraph);
}

.bg--link {
  background-color: var(--link);
}

.bg--header {
  background-color: var(--header);
}

.bg--background {
  background-color: var(--background);
}

.bg--backgroundSecondary {
  background-color: var(--background-secondary);
}

.bg--overline {
  background-color: var(--overline);
}
