.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex--0 {
  flex: 0;
}

.flex--1 {
  flex: 1;
}

.flex--2 {
  flex: 2;
}

.items--start {
  align-items: flex-start;
}

.items--center {
  align-items: center;
}

.items--end {
  align-items: flex-end;
}

.items--stretch {
  align-items: stretch;
}

.items--baseline {
  align-items: baseline;
}

.self--start {
  align-self: flex-start;
}

.self--center {
  align-self: center;
}

.self--end {
  align-self: flex-end;
}

.self--stretch {
  align-self: stretch;
}

.self--baseline {
  align-self: baseline;
}

.justify--start {
  justify-content: flex-start;
}

.justify--center {
  justify-content: center;
}

.justify--end {
  justify-content: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.justify--around {
  justify-content: space-around;
}

.justify--evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap--reverse {
  flex-wrap: wrap-reverse;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.basis--0 {
  flex-basis: 0;
}

.basis--auto {
  flex-basis: auto;
}

.basis--content {
  flex-basis: content;
}

.basis--fit {
  flex-basis: fit-content;
}

.basis--max {
  flex-basis: max-content;
}

.basis--min {
  flex-basis: min-content;
}

