@import './typography.css';
@import './prism.css';

html,
body {
  @apply min-h-full bg-bridalHealth dark:bg-vulcan;
}

::marker {
  @apply pl-2 text-steelGrey dark:text-bridalHealth;
}

blockquote {
  @apply relative mx-0 my-2 flex flex-row items-center pl-3;
}

blockquote::before {
  content: '';
  @apply absolute left-0 block rounded-full bg-rawSienna dark:bg-calico;
  width: 4px;
  height: 50%;
}

li {
  @apply py-1 text-steelGrey dark:text-bridalHealth;
}

.color-paragraph,
p {
  @apply fill-vulcan text-vulcan dark:fill-white dark:text-white;
}

.color-link,
a {
  @apply fill-blumine text-blumine dark:fill-periwinkleGray dark:text-periwinkleGray;
}

.color-header,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply fill-tradewind text-tradewind dark:fill-aeroBlue dark:text-aeroBlue;
}

.color-background {
  @apply text-bridalHealth fill-bridalHealth dark:text-vulcan dark:fill-vulcan;
}

.color-background-secondary {
  @apply text-white fill-white dark:text-steelGrey dark:fill-steelGrey;
}

.color-overline {
  @apply fill-rawSienna text-rawSienna dark:fill-calico dark:text-calico;
}

.bg-paragraph {
  @apply bg-vulcan dark:bg-white;
}

.bg-link {
  @apply bg-blumine dark:bg-periwinkleGray;
}

.bg-header {
  @apply bg-tradewind dark:bg-aeroBlue;
}

.bg-background {
  @apply bg-bridalHealth dark:bg-vulcan;
}

.bg-backgroundSecondary {
  @apply bg-white dark:bg-steelGrey;
}

.bg-overline {
  @apply bg-rawSienna dark:bg-calico;
}

hr {
  padding-top: 1px;
  @apply my-2 border-none bg-white dark:bg-vulcan;
}
