pre::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

pre::-webkit-scrollbar-thumb {
  @apply rounded-full bg-blumine dark:bg-pictonBlue;
}

:not(pre) > code {
  @apply my-1 rounded-xs bg-white p-1/2 text-rawSienna shadow-white shadow-steelGrey dark:bg-steelGrey dark:text-calico;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply bg-white text-steelGrey dark:bg-steelGrey dark:text-bridalHealth;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

code[class*='language-'] * {
  font-family: 'Inconsolata', monospace;
}

pre[class*='language-'] {
  @apply my-2 overflow-auto px-3 pb-2 pt-2;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply overflow-x-scroll bg-white dark:bg-steelGrey;
  border-radius: 0.5em;
  max-width: 100%;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #58839f;
}

.token.punctuation {
  @apply text-steelGrey dark:text-bridalHealth;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  @apply text-tradewind dark:text-aeroBlue;
}

.token.boolean,
.token.number,
.token.function {
  @apply text-rawSienna dark:text-calico;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #9e9e9e;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
