.m--xxs {
  margin: var(--spacing-xxs);
}

.m--xs {
  margin: var(--spacing-xs);
}

.m--s {
  margin: var(--spacing-s);
}

.m--m {
  margin: var(--spacing-m);
}

.m--l {
  margin: var(--spacing-l);
}

.m--xl {
  margin: var(--spacing-xl);
}

.mx--xxs {
  margin-left: var(--spacing-xxs);
  margin-right: var(--spacing-xxs);
}

.mx--xs {
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}

.mx--s {
  margin-left: var(--spacing-s);
  margin-right: var(--spacing-s);
}

.mx--m {
  margin-left: var(--spacing-m);
  margin-right: var(--spacing-m);
}

.mx--l {
  margin-left: var(--spacing-l);
  margin-right: var(--spacing-l);
}

.mx--xl {
  margin-left: var(--spacing-xl);
  margin-right: var(--spacing-xl);
}

.mx--xxl {
  margin-left: var(--spacing-xxl);
  margin-right: var(--spacing-xxl);
}

.mx--xxxl {
  margin-left: var(--spacing-xxxl);
  margin-right: var(--spacing-xxxl);
}

.mx--zero {
  margin-left: var(--spacing-zero);
  margin-right: var(--spacing-zero);
}

.my--xxs {
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
}

.my--xs {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.my--s {
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.my--m {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.my--l {
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
}

.my--xl {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

.my--xxl {
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-xxl);
}

.my--xxxl {
  margin-top: var(--spacing-xxxl);
  margin-bottom: var(--spacing-xxxl);
}

.my--zero {
  margin-top: var(--spacing-zero);
  margin-bottom: var(--spacing-zero);
}

.m--xxl {
  margin: var(--spacing-xxl);
}

.m--xxxl {
  margin: var(--spacing-xxxl);
}

.m--zero {
  margin: var(--spacing-zero);
}

.mt--xxs {
  margin-top: var(--spacing-xxs);
}

.mt--xs {
  margin-top: var(--spacing-xs);
}

.mt--s {
  margin-top: var(--spacing-s);
}

.mt--m {
  margin-top: var(--spacing-m);
}

.mt--l {
  margin-top: var(--spacing-l);
}

.mt--xl {
  margin-top: var(--spacing-xl);
}

.mt--xxl {
  margin-top: var(--spacing-xxl);
}

.mt--xxxl {
  margin-top: var(--spacing-xxxl);
}

.mt--zero {
  margin-top: var(--spacing-zero);
}

.mb--xxs {
  margin-bottom: var(--spacing-xxs);
}

.mb--xs {
  margin-bottom: var(--spacing-xs);
}

.mb--s {
  margin-bottom: var(--spacing-s);
}

.mb--m {
  margin-bottom: var(--spacing-m);
}

.mb--l {
  margin-bottom: var(--spacing-l);
}

.mb--xl {
  margin-bottom: var(--spacing-xl);
}

.mb--xxl {
  margin-bottom: var(--spacing-xxl);
}

.mb--xxxl {
  margin-bottom: var(--spacing-xxxl);
}

.mb--zero {
  margin-bottom: var(--spacing-zero);
}

.ml--xxs {
  margin-left: var(--spacing-xxs);
}

.ml--xs {
  margin-left: var(--spacing-xs);
}

.ml--s {
  margin-left: var(--spacing-s);
}

.ml--m {
  margin-left: var(--spacing-m);
}

.ml--l {
  margin-left: var(--spacing-l);
}

.ml--xl {
  margin-left: var(--spacing-xl);
}

.ml--xxl {
  margin-left: var(--spacing-xxl);
}

.ml--xxxl {
  margin-left: var(--spacing-xxxl);
}

.ml--zero {
  margin-left: var(--spacing-zero);
}

.mr--xxs {
  margin-right: var(--spacing-xxs);
}

.mr--xs {
  margin-right: var(--spacing-xs);
}

.mr--s {
  margin-right: var(--spacing-s);
}

.mr--m {
  margin-right: var(--spacing-m);
}

.mr--l {
  margin-right: var(--spacing-l);
}

.mr--xl {
  margin-right: var(--spacing-xl);
}

.mr--xxl {
  margin-right: var(--spacing-xxl);
}

.mr--xxxl {
  margin-right: var(--spacing-xxxl);
}

.mr--zero {
  margin-right: var(--spacing-zero);
}

.p--xxs {
  padding: var(--spacing-xxs);
}

.p--xs {
  padding: var(--spacing-xs);
}

.p--s {
  padding: var(--spacing-s);
}

.p--m {
  padding: var(--spacing-m);
}

.p--l {
  padding: var(--spacing-l);
}

.p--xl {
  padding: var(--spacing-xl);
}

.p--xxl {
  padding: var(--spacing-xxl);
}

.p--xxxl {
  padding: var(--spacing-xxxl);
}

.p--zero {
  padding: var(--spacing-zero);
}

.px--xxs {
  padding-left: var(--spacing-xxs);
  padding-right: var(--spacing-xxs);
}

.px--xs {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.px--s {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}

.px--m {
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
}

.px--l {
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.px--xl {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.px--xxl {
  padding-left: var(--spacing-xxl);
  padding-right: var(--spacing-xxl);
}

.px--xxxl {
  padding-left: var(--spacing-xxxl);
  padding-right: var(--spacing-xxxl);
}

.px--zero {
  padding-left: var(--spacing-zero);
  padding-right: var(--spacing-zero);
}

.py--xxs {
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
}

.py--xs {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.py--s {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

.py--m {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.py--l {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
}

.py--xl {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.py--xxl {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
}

.py--xxxl {
  padding-top: var(--spacing-xxxl);
  padding-bottom: var(--spacing-xxxl);
}

.py--zero {
  padding-top: var(--spacing-zero);
  padding-bottom: var(--spacing-zero);
}

.pt--xxs {
  padding-top: var(--spacing-xxs);
}

.pt--xs {
  padding-top: var(--spacing-xs);
}

.pt--s {
  padding-top: var(--spacing-s);
}

.pt--m {
  padding-top: var(--spacing-m);
}

.pt--l {
  padding-top: var(--spacing-l);
}

.pt--xl {
  padding-top: var(--spacing-xl);
}

.pt--xxl {
  padding-top: var(--spacing-xxl);
}

.pt--xxxl {
  padding-top: var(--spacing-xxxl);
}

.pt--zero {
  padding-top: var(--spacing-zero);
}

.pb--xxs {
  padding-bottom: var(--spacing-xxs);
}

.pb--xs {
  padding-bottom: var(--spacing-xs);
}

.pb--s {
  padding-bottom: var(--spacing-s);
}

.pb--m {
  padding-bottom: var(--spacing-m);
}

.pb--l {
  padding-bottom: var(--spacing-l);
}

.pb--xl {
  padding-bottom: var(--spacing-xl);
}

.pb--xxl {
  padding-bottom: var(--spacing-xxl);
}

.pb--xxxl {
  padding-bottom: var(--spacing-xxxl);
}

.pb--zero {
  padding-bottom: var(--spacing-zero);
}

.pl--xxs {
  padding-left: var(--spacing-xxs);
}

.pl--xs {
  padding-left: var(--spacing-xs);
}

.pl--s {
  padding-left: var(--spacing-s);
}

.pl--m {
  padding-left: var(--spacing-m);
}

.pl--l {
  padding-left: var(--spacing-l);
}

.pl--xl {
  padding-left: var(--spacing-xl);
}

.pl--xxl {
  padding-left: var(--spacing-xxl);
}

.pl--xxxl {
  padding-left: var(--spacing-xxxl);
}

.pl--zero {
  padding-left: var(--spacing-zero);
}

.pr--xxs {
  padding-right: var(--spacing-xxs);
}

.pr--xs {
  padding-right: var(--spacing-xs);
}

.pr--s {
  padding-right: var(--spacing-s);
}

.pr--m {
  padding-right: var(--spacing-m);
}

.pr--l {
  padding-right: var(--spacing-l);
}

.pr--xl {
  padding-right: var(--spacing-xl);
}

.pr--xxl {
  padding-right: var(--spacing-xxl);
}

.pr--xxxl {
  padding-right: var(--spacing-xxxl);
}

.pr--zero {
  padding-right: var(--spacing-zero);
}