:root {
  --white: #FFF;
  --vulcan: #0f111d;

  --steel-grey: #1a1c27;
  --periwinkle-gray: #ADCBE0;
  --aero-blue: #b8fff2;
  --calico: #e2b393;
  --picton-blue: #4e9ee4;

  --bridal-health: #fffaf4;
  --blumine: #225b82;
  --tradewind: #4ba796;
  --raw-sienna: #d08654;

  --paragraph: var(--white);
  --link: var(--periwinkle-gray);
  --header: var(--aero-blue);
  --background: var(--vulcan);
  --background-secondary: var(--steel-grey);
  --overline: var(--calico);

  /* Fonts */
  --font-xs: 12px;
  --font-s: 16px;
  --font-m: 24px;
  --font-l: 32px;
  --font-xl: 40px;
  --font-regular: 300;
  --font-italic: 300;
  --font-bold: 400;
  --font-boldItalic: 400;

  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 56px;
  --spacing-xxxl: 80px;
  --spacing-zero: 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    --paragraph: var(--vulcan);
    --link: var(--blumine);
    --header: var(--tradewind);
    --background: var(--bridal-health);
    --background-secondary: var(--white);
    --overline: var(--raw-sienna);
  }
}