---
import { EmailList } from './EmailList'
import { siteMetadata } from '../consts'

const today = new Date()
const year = today.getFullYear()
---

<footer class="container relative z-10">
  <hr />
  <p class="pb-0">
    Join my <a href={`${siteMetadata.substack}?utm_source=website&utm_medium=footer`}>Substack newsletter</a>
  </p>
  <p class="pb-6 pt-0">&copy; {year} Jacob Lowe. All rights reserved.</p>
</footer>
<EmailList client:idle />
<script is:inline>
  // The old cache-clearing service worker is retired; unregister any leftovers.
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker
      .getRegistrations()
      .then((registrations) =>
        Promise.all(registrations.map((r) => r.unregister()))
      )
      .catch(() => {})
  }
</script>
