---
import Time from './Time.astro';

export interface Props extends astroHTML.JSX.HTMLAttributes {
  href: string;
  title: string;
  description: string;
  date: Date;
  class?: string;
}

const { href, title, description, date, class: className, ...props } = Astro.props;
const formattedDescription = description.length > 247 ? description.slice(0, 250) + '...' : description;
---

<div class="py-3" {...props}>
  <h3 class="pt-0 pb-2 color-link">
    <a href={href} class:list={[className, 'py-0 no-underline']}>
      {title}
    </a>
  </h3>
  <p class="py-0">{formattedDescription}</p>
  <hr />
  <Time date={date} class="p-0 color-header" />
</div>
