---
export interface Props extends astroHTML.JSX.HTMLAttributes {
 links: { href: string; label: string; }[];
}

const { links, prefix, ...props } = Astro.props;

---

<style>
  .table-of-contents {
    top: 0;
    left: 0;
    display: none;
  }
  

  @media (min-width: 1280px) {
    .table-of-contents {
      display: block;
    }
  }

  .table-of-contents > div {
    width: 100%;
    max-width: 300px;
    /* pushes content to the edge of the blog content */
    transform: translateX(calc(760px / 2));
    left: 50%;
  } 
</style>
<aside class="sticky table-of-contents">
  <div class="absolute top-0 bg--backgroundSecondary rounded--m py--xs px--m mt--m">
    <details>
    <summary><h5 class="inline-flex bold pb--xs pt--xs">Sections</h5></summary>
    {links.map(({href, label}) => {
      return <p class="py--zero"><a href={`#${href}`}>{label}</a></p>;
    })}
    </details>
  </div>
</aside>