---
export interface Props extends astroHTML.JSX.HTMLAttributes {
  links: { href: string; label: string }[]
}

const { links, prefix, ...props } = Astro.props
---

<style>
  .table-of-contents > div {
    width: 100%;
    max-width: 300px;
    /* pushes content to the edge of the blog content */
    transform: translateX(calc(760px / 2));
    left: 50%;
  }
</style>
<aside class="table-of-contents sticky top-0">
  <div
    class="bg-backgroundSecondary absolute top-0 mt-3 hidden rounded-lg py-1 px-3 xl:block"
  >
    <details>
      <summary
        ><h5 class="inline-flex pb-1 pt-1 font-medium">Sections</h5></summary
      >
      {
        links.map(({ href, label }) => {
          return (
            <p class="py-0">
              <a href={`#${href}`}>{label}</a>
            </p>
          )
        })
      }
    </details>
  </div>
</aside>
